circle {
  fill: #313547;
  stroke: #91cdeb;
  stroke-width: 32;
}
.grid{
    margin-left: -29px;
    list-style: none;
    margin-bottom: 0;
}

.grid__item {
    display: inline-block;
    width: 100%;
    padding-left: 29px;
    vertical-align: top;
}

svg {
  background-color: #313547;
  border-radius: 50%;
  height: 100px;
  transform: rotate( -90deg );
  width: 100px;
}

.pie {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  transform: rotate(-90deg );
}

.pie.animated circle {
  animation: fillup 2s infinite linear;
}
@keyframes fillup {
  to {
    stroke-dasharray: 158 158;
  }
}
