<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/sb-admin-2.css" />
        <!-- MetisMenu CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/metisMenu.min.css" />
         <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
        <!-- Custom Fonts -->
        <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css" />
        <!-- Pie Chart -->
        <link rel="stylesheet" type="text/css" href="static/css/pie-chart.css" />
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Visualization Dashboard</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><form class="nav-logout" method="post" action="/logout">
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/dashboard"><i class="fa fa-home fa-fw"></i> Home</a>
                            </li>
                            <li>
                                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="/details"><i class="fa fa-table fa-fw"></i> Flavors and Applications</a>
                            </li>
                            <li>
                                <a href="/instances"><i class="fa fa-edit fa-fw"></i> Launch Instance</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">2</div>
                                        <div>Running Instances</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">3</div>
                                        <div>Flavors</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-cubes" style="font-size:48px;color:black"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">4</div>
                                        <div>Applications</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">2</div>
                                        <div>Total Instances</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Pie Chart
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                <div class="grid__item one-quarter below-desk-one-whole"><div class="chart-wrapper text--center"><h3>Instances </h3><div class="pie">Used 3 of 10</div></div></div>

                                <div class="grid__item one-quarter below-desk-one-whole"><div class="chart-wrapper text--center"><h3>RAM</h3><div class="pie">Used 1GB of 50GB</div></div></div>

                                <div class="grid__item one-quarter below-desk-one-whole"><div class="chart-wrapper text--center"><h3>VCPUs</h3><div class="pie">Used 10 of 15</div></div></div>

                                <div class="grid__item one-quarter below-desk-one-whole"><div class="chart-wrapper text--center"><h3>Floating IPs</h3><div class="pie">Used 4 of 50</div></div></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                <!-- /.panel --><br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Instances
                        <div class="pull-centre">
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover table-striped" id="instancesList">
                                <tr>
                                    <th>Project</th>
                                    <th>Name</th>
                                    <th>Application URL</th>
                                    <th>IP Address</th>
                                    <th>Flavor</th>
                                    <th>Status</th>
                                    <th>Task</th>
                                    <th>PowerState</th>
                                    <th>Created Time</th>
                                    <th>Updated Time</th>
                                    <th>Actions</th>
                                </tr>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-18">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Performance chart
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Filters
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#">Ubuntu</a>
                                            </li>
                                            <li><a href="#">Cirros</a>
                                            </li>
                                            <li><a href="#">Linux</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    <!-- /.col-lg-8 -->
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="static/js/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="static/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="static/js/metisMenu.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="static/js/sb-admin-2.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="static/js/morris-data.js"></script>
        <script src="static/js/raphael.min.js"></script>
        <script src="static/js/morris.min.js"></script>
        <script src="static/js/pie-chart.js"></script>
        <script>
            $(document).ready(function(){
                $.getJSON('http://localhost:3000/api/v1/openstack/instances', function(response){
                    console.log(response);
                    var instance;
                    for (var index = 0; index < response.length; index++) {
                        instance = $('<tr/>');
                        instance.append("<td>" + "admin" + "</td>");
                        instance.append("<td>" + response[index].Name + "</td>");
                        instance.append("<td>" + response[index].Image.id + "</td>");
                        instance.append("<td>" + "IP Address" + "</td>");
                        instance.append("<td>" + response[index].Flavor.id + "</td>");
                        instance.append("<td>" + response[index].Status + "</td>");
                        instance.append("<td>" + "Task" + "</td>");
                        instance.append("<td>" + "Power state" + "</td>");
                        instance.append("<td>" + response[index].CreatedAt + "</td>");
                        instance.append("<td>" + response[index].UpdatedAt + "</td>");
                        instance.append("<td class='button'><div class='dropdown'><button class='btn btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>Launch<span class='caret'></span></button><ul class='dropdown-menu'> <li><a href='#'><i class='fa fa-plug'></i>  Create Volume</a></li><li><a href='#'><i class='fa fa-eraser'></i>  Edit Image</a></li><li><a href='#'><i class='fa fa-upload'></i>  Update Metadata</a></li><li class='divider'></li><li><a href='#'><i class='fa fa-trash'></i>  Delete</a></li></ul></div></td>");
                        $('#instancesList').append(instance);
                    }
                });
            });
        </script>
    </body>
</html>


