<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login OpenStack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/stylepage.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">OpenStack Dashboard</a>
        </div>
        </nav>

        <div class="container">
           <hr class="colorgraph"><br>
              <form  class="form-signin" method="post" action="/login">
                <h3 class="form-signin-heading"> Login to dashboard</h3>

                <!-- Email field -->
                <div class="input-group">
                  <input id="name" type="text" class="form-control" name="name" placeholder="User Name">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                </div><br/>

                <!-- Password field -->
                <div class="input-group">
                  <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                </div><br/>

                <!-- Sign In button -->
                <button type="submit" class="btn btn-primary navbar-inverse center-block">Login</button>
              </form>
          <hr class="colorgraph"><br>
        </div>
    </body>
</html>
